<form method="post" action="{{ path('app_audiovisual_delete', {'id': audiovisual.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ audiovisual.id) }}">
    <button class="btn">Delete</button>
</form>
