{% extends 'base.html.twig' %}

{% block title %}New Audiovisual{% endblock %}

{% block body %}
    <h1>Create new Audiovisual</h1>

    {{ include('audiovisual/_form.html.twig') }}

    <a href="{{ path('app_audiovisual_index') }}">back to list</a>
{% endblock %}
