<form method="post" action="{{ path('app_apartado_delete', {'id': apartado.id}) }}" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ apartado.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
