{% extends 'base.html.twig' %}

{% block title %}Edit Apartado{% endblock %}

{% block body %}
    <h1>Edit Apartado</h1>

    {{ include('apartado/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_apartado_index') }}">back to list</a>

    {{ include('apartado/_delete_form.html.twig') }}
{% endblock %}
