<form method="post" action="{{ path('app_subapartado_delete', {'id': subapartado.id}) }}" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subapartado.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
