{% extends 'base.html.twig' %}

{% block title %}New Subapartado{% endblock %}

{% block body %}
    <h1>Create new Subapartado</h1>

    {{ include('subapartado/_form.html.twig') }}

    <a href="{{ path('app_subapartado_index') }}">back to list</a>
{% endblock %}
