<form method="post" action="{{ path('app_cita_delete', {'id': cita.id}) }}" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cita.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
